@main("PAIDashboard", "Dashboard", "dashboard", "dashboard") {

<div class="container-fluid">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-xs-4 pull-right" id="date-range-picker"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12" id="web-modules-widget">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">鼠标轨迹</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-box-tool" type="button" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"></div>
                <div class="box-footer no-padding"></div>
            </div>
        </div>
    </div>
</div>

}
