@main("PAIDashboard", "Dashboard", "dashboard", "dashboard") {

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">网站模块</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button class="btn btn-box-tool" type="button" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin">
                                    <thead>
                                        <tr>
                                            <th>模块</th>
                                            <th>总用时</th>
                                            <th>人员</th>
                                            <th>其他</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                        </tr>
                                        <tr>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                        </tr>
                                        <tr>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                        </tr>
                                        <tr>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                        </tr>
                                        <tr>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                            <td>test text</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer text-center">
                            <a class="uppercase" href="#">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">鼠标轨迹</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-box-tool" type="button" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body"></div>
                <div class="box-footer no-padding"></div>
            </div>
        </div>
    </div>
</div>

}
