@main("PAIDashboard", "Dashboard", "cmas", "dashboard") {

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row">
                <div class="col-xs-12" id="web-modules-widget">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">鼠标轨迹</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-box-tool" type="button" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div style="overflow: hidden;">
                        <select>
                            <option value="">http://83.24.113.34:12176/cmas/getlogonmenu.flowc?flowActionName=process0&dse_sessionId=JKICAPBLJFJUFPHVHBASAQDKATGDGECXHEDHIJAS&dse_pageId=0&signin_flow_context_string=&userId=888803068&defaultRoleId=&Language=zh_CN&fullpath=/cmas/&menuType=menu</option>
                        </select>

                    </div>
                    <div class="mouse-stream" style="height: 400px;"></div>
                </div>
                <div class="box-footer text-center">
                    <a href="#">查看详情</a>
                </div>
            </div>
        </div>
    </div>
</div>

}
