@main("PAIDashboard", "WEB手工测试", "前端埋点采集数据并分析手工测试覆盖情况") {

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">条件</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="date">
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="起始时间">
                    <input type="date" class="form-control" placeholder="结束时间">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option>排序...</option>
                        <option>总用时由高至低</option>
                        <option>总用时由低至高</option>
                        <option>点击数由高至低</option>
                        <option>点击数由低至高</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-default">查询</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <ol class="pai-menu-list no-list-style">
        <li class="pai-menu-item pull-left" style="background-color: rgb(0,255,0)">
            <div class="pai-item-header">
                <div class="pai-menu-name pull-left"><b>通用查询</b></div>
                <div class="pai-events pull-left">
                    <ul class="no-list-style">
                        <li class="pull-right"><i class="fa fa-mouse-pointer"></i>13</li>
                        <li class="pull-right"><i class="fa fa-keyboard-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="pai-duration">
                总用时: <span>25.5秒</span>
            </div>
            <div class="pai-users">
                <ul class="no-list-style">
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/user2-160x160.png")" alt="Connor Weng"/></li>
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/avatar1.png")"/></li>
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/avatar2.png")"/></li>
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/avatar3.png")"/></li>
                </ul>
            </div>
        </li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(21,234,0)">
            <div class="pai-item-header">
                <div class="pai-menu-name pull-left"><b>菜单调整</b></div>
                <div class="pai-events pull-left">
                    <ul class="no-list-style">
                        <li class="pull-right"><i class="fa fa-mouse-pointer"></i>5</li>
                        <li class="pull-right"><i class="fa fa-keyboard-o"></i></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="pai-duration">
                总用时: <span>14秒</span>
            </div>
            <div class="pai-users">
                <ul class="no-list-style">
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/avatar1.png")"/></li>
                    <li class="pull-right"><img class="img-circle" src="@routes.Assets.versioned("images/avatar2.png")"/></li>
                </ul>
            </div>
        </li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(42,213,0)">C</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(63,192,0)">A</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(84,171,0)">B</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(105,150,0)">C</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(126,129,0)">A</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(147,108,0)">B</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(168,87,0)">C</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(189,66,0)">A</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(200,45,0)">B</li>
        <li class="pai-menu-item pull-left" style="background-color: rgb(221,24,0)">C</li>
    </ol>
</div>

}
